# LOGS
LOG_PATH=../logs
LOG_LEVEL_APP=INFO
LOG_LEVEL_SERVER=INFO
LOG_LEVEL_DATABASE=INFO
LOG_LEVEL_SERVICE=INFO


# PULL REQUEST DB
PR_DB_ADDR=postgres://admin:admin@db-pr/avito
PR_DB_MIN_CONN=2
PR_DB_MAX_CONN=16
PR_DB_MAX_CONN_LIFETIME=3600
PR_DB_MAX_CONN_LIFETIME_JITTER=0
PR_DB_MAX_CONN_IDLE_TIME=1800
PR_DB_HEALTH_CHECK_PERIOD=60


# USER DB
USER_DB_ADDR=postgres://admin:admin@db-rp/avito
USER_DB_MIN_CONN=2
USER_DB_MAX_CONN=16
USER_DB_MAX_CONN_LIFETIME=3600
USER_DB_MAX_CONN_LIFETIME_JITTER=0
USER_DB_MAX_CONN_IDLE_TIME=1800
USER_DB_HEALTH_CHECK_PERIOD=60

# TEAM DB
TEAM_DB_ADDR=postgres://admin:admin@db-pr/avito
TEAM_DB_MIN_CONN=2
TEAM_DB_MAX_CONN=16
TEAM_DB_MAX_CONN_LIFETIME=3600
TEAM_DB_MAX_CONN_LIFETIME_JITTER=0
TEAM_DB_MAX_CONN_IDLE_TIME=1800
TEAM_DB_HEALTH_CHECK_PERIOD=60